@model List<Empleado>
<h1>Buscador LINQ to SQL</h1>
<form method="post">
    <label>Oficio</label>
    <input type="text" name="oficio" class="form-control" />
    <label>Salario</label>
    <input type="text" name="salario" class="form-control" />
    <button class="btn btn-info">
        Buscar Empleados
    </button>
</form>
<h2 style="color:red">@ViewData["MENSAJE"]</h2>
@if(Model!=null){
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Apellidos</th>
                <th>Oficio</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Empleado empleado in Model){
                <tr>
                    <td>@empleado.Apellido</td>
                    <td>@empleado.Oficio</td>
                    <td>@empleado.Salario</td>
                </tr>
            }
        </tbody>
    </table>
}
