@model List<Empleado>
<h1>Linq Empleados</h1>
<table class="table table-bordered">
    <thead>
        <th>Apellido</th>
        <th>Oficio</th>
        <th>Salario</th>
        <th></th>
    </thead>
    <tbody>
        @foreach(Empleado empleado in Model){
            <tr>
                <td>@empleado.Apellido</td>
                <td>@empleado.Oficio</td>
                <td>@empleado.Salario</td>
                <td>
                    <a asp-controller="Empleados" 
                       asp-action="Details"
                       asp-route-idempleado="@empleado.IdEmpleado" 
                       class="btn btn-info">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
